<?xml version="1.0"?>
<ruleset>
    <rule ref="PSR12"/>
    <file>models</file>
    <file>controllers</file>
    <exclude-pattern type="relative">(m2.*.php)</exclude-pattern>
    <!--
    <file>vendor/webmens-ru/yii-extended/src</file>
    -->
</ruleset>